/* phone */
@media screen and (device-type: phone) {
    .container {
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        background-color: blue;
    }
    .title {
        font-size: 46px;
        text-align: center;
        font-weight: 700;
        color: white;
    }
}

/* TV */
@media screen and (device-type: tv) {
    .container {
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        background-color: blue;
    }
    .title {
        font-size: 32px;
        text-align: center;
        font-weight: 400;
        color: white;
    }
}