.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 454px;
    height: 454px;
}
.title {
    font-size: 30px;
    text-align: center;
}
.time-picker {
    width: 500px;
    height: 400px;
    margin-top: 20px;
}