.box{
    flex-direction: column;
    width: 100%;
    background-color: black;
    height: 100%;
}
.top_box{
    height: 100px;
    width: 100%;
}
.center_box{
    height: 100%;
    width: 100%;
    margin-top: 30px;
    flex-direction: column;
}
.box_renwu{
    flex-direction: column;
}
.box_siz{
    font-size: 32px;
    color: #ccc;
}
.center_text{
    flex-direction: row;
    width: 100%;
    height: 120px;
}
@media (device-type: phone){
    .text_font{
        font-size: 84px;
        color: #ccc;
    }
    .box_siz{
        font-size: 52px;
        color: #ccc;
    }
    .input_button{
        width: 160px;
        height: 160px;
    }
}
@media (device-type: tv){
    .text_font{
        font-size: 48px;
        color: #ccc;
    }
    .input_button{
        width: 40px;
        height: 40px;
        margin-top: 20px;
    }
    .button_box{
        width: 100px;
        height: 100px;
        justify-content: center;
    }
}
@media (device-type: wearable){
    .text_font{
        font-size: 52px;
        text-align: center;
        color: #ccc;
    }
    .top_box{
        height: 100px;
        width: 100%;
        justify-content: center;
    }
    .center_text{
        flex-direction: row;
        width: 100%;
        height: 120px;
        margin-left: 60px;
    }
    .box_leibiao{
        height: 50%;
        width: 100%;
    }
}