.container {
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.jltfbadge {
    width: 50%;
    margin-top: 100px;
}
.jltftext1 {
    background-color: #f9a01e;
    font-size: 50px;
}
.jltftext2 {
    background-color: #46b1e3;
    font-size: 50px;
}