.doc-page {
    flex-direction: column;
}

.top-list-item {
    width:100%;
    background-color:#D4F2E7;
}

.item-div {
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    height:240px;
}

.item-child {
    width:100%;
    height:60px;
    justify-content:space-around;
    align-items:center;
}

.item-group-child {
    justify-content: center;
    align-items: center;
    width:100%;
}