.container {
    flex-direction: column;
}
.header-txt{
    font-size: 40px;
    margin-left: 30px;
}
.header-txt1{
    font-size: 50px;
    color: red;
}
.search{
    margin-top: 50px;
    margin-left: 20px;
}
.search-text{
    width: 500px;
    height: 70px;
    border: 2px solid black;
    border-radius: 30px;
}
.search-button{
    width: 200px;
    height: 70px;
    border-radius: 20px;
    background-color: aqua;
    color: white;
}
.body,.body2{
    margin-top: 100px;
    flex-direction: column;
    margin-left: 20px;
}
.body-img{
    margin-top: 20px;
    flex-direction: row;
}
.body-img1,.body-img2,.body-img3{
    flex-direction: column;
    height: 300px;
}
.body-image{
    width: 200px;
    height: 140px;
}
.body-img__txt{
    font-size: 20px;
}